/* Global */

body {
    font-family: "Oswald", sans-serif;
    font-size: 1.3rem;
    background: whitesmoke;
}

a {
    cursor: pointer;
}

.form-control {
    height: 57px;
    border-radius: 0px;
}


/* Todo */

#done .todo:first-child {
    margin: 0 !important;
}

/* TODO Options */

#moreOptions{
    display: none;
}