/* Global */

body {
    font-family: "Oswald", sans-serif;
    font-size: 1.3rem;
    background: whitesmoke;
}

a {
    cursor: pointer;
}

input {
    height: 57px;
}


/* Todo */

#done .todo:first-child {
    margin: 0 !important;
}